* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../imagens/fundo2.png) no-repeat fixed;
    width: 100%;
}

.paginas {
    color: white;
    text-decoration: none;
    float: right;
    padding-right: 50px;
    padding-top: 35px;
    font-size: 1.4em;
}

#navegacao {
    width: 100%;
    height: 100px;
    background: #2a1b44;
}

#navegacao a:hover {
    color: #7f6ebd;
    cursor: pointer;
}

#logo {
    font-size: 2.5em;
    color: white;
    padding-left: 100px; 
    padding-top: 25px;
    float: left;
}

#img-logo {
    width: 30px;
}

#img-carrinho {
    width: 30px;
}

#img-login{
    width: 30px;
    float: right;
    padding-top: 35px;
    margin-right: 10px;
}

#titulo {
    color: #f1f1f1;
    padding-left: 100px;
    margin-top: 10px; 
    margin-bottom: 10px; 
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #8858ed;
}

#itensCarrinho {    
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 570px;
    margin-left: 10%;
    margin-top: 40px;
    float: left;
    background-color: #8858ed;
    border-radius: 10px;
}

#item {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 20px;
}

#item h3 {
    color: #000;
    padding: 10px;
    padding-left: 20px;
}

#item input {
    width: 30px;
    height: 30px;
    margin: 10px;
    text-align: center;
    font-size: 1em;
}

#dadosProduto {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 10%;
    margin-top: 40px;
}

.corProduto {
    margin-left: 170px;
    margin-top: 40px;
    font-size: 1.1em;
    position: absolute;
}

.qtdeProduto {
    margin-left: 170px;
    margin-top: 60px;
    font-size: 1.1em;    
    position: absolute;
}

#item input {
    margin-top: 60px;
    margin-left: 260px;
    height: 20px;
    border-radius: 5px;
    border-width: 0.2px;
    font-size: 0.8em;  
    position: absolute;
}

#remover {
    width: 90px;
    height: 30px;
    margin-left: 520px;
    margin-top: 30px;
    position: absolute;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

#remover button {
    height: 30px;
    width: 90px;
    background-color: #8858ed;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

#remover button:hover {
    background-color: #2a1b44;
    cursor: pointer;
}

#img-item {
    width: 150px;
    height: 150px;
    border-radius: 10px 0px 0px 10px;
}

#pagamento {
    background-color: #8858ed;
    border-radius: 10px;
    padding: 20px;
    width: 25%;
    height: 530px;
    float: right;
    margin-right: 8%;
    margin-top: 40px;
}

#dadosPagamento {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    height: 490px;
}


#cep {
    margin-top: 20px;
    border-radius: 5px;
    border-width: 0.2px;
    font-size: 0.8em;
    height: 20px;
}

.frete {
    margin-top: 5px;
    margin-bottom: 10px;
}

#pesquisarCEP {
    height: 25px;
    width: 80px;
    background-color: #8858ed;
    color: #fff;
    font-size: 0.8em;
    border: none;
    border-radius: 5px;
}

#pesquisarCEP:hover {
    background-color: #2a1b44;
    cursor: pointer;
}

.formaPgto {
    margin-top: 10px;
}

#listFormasPgto {
    margin-right: 10px;
    padding-left: 5px;
    border-radius: 5px;
    border-width: 0.2px;
    font-size: 0.8em;
    height: 20px;
}

#cupom {
    margin-top: 10px;
    border-radius: 5px;
    border-width: 0.2px;
    font-size: 0.8em;
    height: 20px;
    width: 120px;
}

#adicionarCupom {
    height: 25px;
    width: 80px;
    background-color: #8858ed;
    color: #fff;
    font-size: 0.8em;
    border: none;
    border-radius: 5px;
}

#adicionarCupom:hover {
    background-color: #2a1b44;
    cursor: pointer;
}

.destinatario {
    margin-left: 20px;
}

.pEndereco {
    margin-top: 20px;
}

.endereco {
    margin-left: 20px;
}

.total {
    text-align: center;
    margin-bottom: 20px;
}

#finalizar {
    width: 200px;
    height: 50px;
    background-color: #8858ed;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-left: 20%;
}

#finalizar:hover {
    background-color: #2a1b44;
    cursor: pointer;
}

hr {
    margin: 20px 0px 20px 0px;
}

footer {
    background-color: #2a1b44;
    color: white;
    text-align: center;
    margin-top: 45%;
    height: 40px;
    padding-top: 20px
}