* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../imagens/fundo2.png) no-repeat fixed;
    width: 100%;
}

#navegacao {
    width: 100%;
    height: 100px;
    background: #2a1b44;
}

.paginas {
    color: white;
    text-decoration: none;
    float: right;
    padding-right: 50px;
    padding-top: 35px;
    font-size: 1.4em;
}

#navegacao a:hover {
    color: #7f6ebd;
    cursor: pointer;
}

#logo {
    font-size: 2.5em;
    color: white;
    padding-left: 100px; 
    padding-top: 25px;
    float: left;
} 

#img-logo {
    width: 30px;
}

#img-carrinho {
    width: 30px;
}

#img-login{
    width: 30px;
    float: right;
    padding-top: 35px;
    margin-right: 10px;
}

#titulo {
    color: #f1f1f1;
    padding-left: 100px;
    margin-top: 10px; 
    margin-bottom: 10px; 
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #8858ed;
}

#produto {
    width: 40%;
    float: left;
    height: 550px;
    margin-top: 80px;
    margin-left: 80px; 
    padding-left: 6%;
    margin-bottom: 18px;
}

#fotosDetalhadas {
    display: flex;
    padding-right: 5px;
    padding-top: 5px;
    width: 450px;
    margin-left: 25px;
}

.imgPrincipal {
    height: 450px;
    width: 450px;
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 20px;
    margin-left: 25px;
}

.imgSecundaria {
    flex: 1;
    height: 85px;
    width: 100px;
    background-color: #f1f1f1;
    text-align: center;
    margin: 2px;
    border-radius: 5px;
}

.img-produtoP {
    height: 400px;
    width: 400px;
}

.img-produtoS {
    height: 85px;
    width: 85px;
    border-radius: 5px;
}

#infoProduto {
    background: #0e0a1786;
    width: 40%;
    float: right;
    height: 450px;
    margin-top: 80px;
    margin-right: 100px;
    border-radius: 20px;
}

#info {
    color: #fff;
    margin: 20px;
}

#adicionarCarrinho button {
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 5px;
    background-color: #8858ed;
    color: #fff;
    font-size: 1em; 
    font-weight: bold;
}

#adicionarCarrinho button:hover {
    background-color: #2a1b44;
    cursor: pointer;
}

#adicionarCarrinho input {
    height: 40px;
    width: 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

form {
    border: 3px solid #8858ed;
    display: inline-block;
    padding: 4px;
    margin-top: 140px;
    margin-left: 140px;
    border-radius: 10px;
  }

hr {
    border: 1.2px solid #f1f1f1;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;  
    margin-bottom: 20px;
}

#descricao {
    width: 90%;
    margin: 0 5%;   
    border-radius: 20px;
}

#descricao h2 {
    color: #fff;
    padding-left: 7%;
    padding-top: 2%;
    background-color: #0e0a1786;
}

#descricao p {
    color: #fff;
    padding-left: 10%;
    padding-top: 1%;
    padding-right: 5%;
    font-size: 1.2em;
    background-color: #0e0a1786;
}

ul {
    list-style: none;
    background-color: #0e0a1786;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

li {
    color: #fff;
    padding-left: 10%;
    padding-right: 5%;
    font-size: 1.2em;
}

#produtosSemelhantes {
    background-color: #5e43866e;
    width: 90%;
    display: flex;
    margin-left: 5%;
}

#semelhante {
    flex: 1;
    text-align: center;
    margin: 15px;

}

#imagemSemelhante {
    width: 160px;
    height: 180px;
    border-radius: 10px;
}

#semelhante p {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}


footer {
    background-color: #2a1b44;
    color: white;
    text-align: center;
    margin-top: 50px;
    height: 50px;
}